# Pandas

- O Pandas é uma biblioteca do Python que fornece ferramentas de análise de dados e estruturas de dados de alta performance e fáceis de usar.
- Por ser a principal e mais completa biblioteca para estes objetivos, o Pandas é fundamental para Análise de Dados.
- É muito comum que os dados que analisamos estejam dispostos em formato de tabelas, sobretudo, quando falamos em análise estatística de dados.
- Esses dados, no formato de tabela, podem apresentar, por exemplo, colunas que trazem diferentes atributos do dado, e linhas que trazem um conjunto de observações.
- Para exemplificar, [veja esse dataset](https://en.wikipedia.org/wiki/Iris_flower_data_set).

Para nos ajudar a lidar com esses dados em formato de tabelas, o Pandas nos fornece um objeto, chamado DataFrame, que é capaz de armazenar e manipular esse tipo de dado de uma forma equivalente às planilhas de Excel.

In [3]:
# Importação das bibliotecas
import numpy as np
import pandas as pd

# Series

A `Series` é como uma coluna ou uma linha do nosso DataFrame (tabela). Embora possa parecer que esse objeto é idêntico a um Numpy array, ele possui atributos distintos, os quais vamos estudar agora.

In [ ]:
# Um exemplo usando os passos que eu dei na semana
steps = pd.Series([4126, 3867, 7934, 4180, 5344])

In [ ]:
steps

0    4126
1    3867
2    7934
3    4180
4    5344
dtype: int64

In [ ]:
type(steps)

pandas.core.series.Series

## Como retornar os valores da série

In [ ]:
steps.values

array([4126, 3867, 7934, 4180, 5344])

## Como retorna os indices do série

In [ ]:
# range de 0 a 5 com passo 1
steps.index

RangeIndex(start=0, stop=5, step=1)

## Como nomear cada índice

In [ ]:
steps = pd.Series(data=[4126, 3867, 7934, 4180, 5344], index=['seg', 'ter', 'qua', 'qui', 'sex'])

In [ ]:
steps

seg    4126
ter    3867
qua    7934
qui    4180
sex    5344
dtype: int64

In [ ]:
steps.index

Index(['seg', 'ter', 'qua', 'qui', 'sex'], dtype='object')

## Funções do Numpy

> Lembrando que o valor de uma Serie é retornado em forma de array, ou seja, é possível utilizar as funções do Numpy.

In [ ]:
steps.min()

3867

In [ ]:
steps.max()

7934

In [ ]:
steps.mean()

5090.2

In [ ]:
steps.sum()

25451

## Para visualizar um conjunto de informações

In [ ]:
steps.describe()

count       5.000000
mean     5090.200000
std      1688.636787
min      3867.000000
25%      4126.000000
50%      4180.000000
75%      5344.000000
max      7934.000000
dtype: float64

Essa estrutura é bem flexível. Veja alguns exemplos do que você pode fazer com ela:

In [ ]:
steps * 2

seg     8252
ter     7734
qua    15868
qui     8360
sex    10688
dtype: int64

In [ ]:
np.sqrt(steps)

seg    64.233947
ter    62.185207
qua    89.073004
qui    64.652920
sex    73.102668
dtype: float64

## Criando uma series com dicionários

In [ ]:
dic = {'python': 10, 'javascript': 9, 'matlab':7}

In [ ]:
series = pd.Series(dic)

In [ ]:
series

python        10
javascript     9
matlab         7
dtype: int64

## Indexação

In [ ]:
s = pd.Series(data=np.random.randint(1, 5, 10), index=['A B C D E F G H I J'.split()])

In [ ]:
s

A    3
B    4
C    2
D    4
E    3
F    4
G    2
H    1
I    1
J    3
dtype: int64

In [ ]:
s[0]

3

In [ ]:
s['A']

3

In [ ]:
s[2:4]

C    2
D    4
dtype: int64

In [ ]:
s['C':'D']

C    2
D    4
dtype: int64

## Operações

In [ ]:
s1 = pd.Series(data=np.random.randint(1, 100, 3), index='facebook instagram youtube'.split())

In [ ]:
s2 = pd.Series(data=np.random.randint(1, 100, 3), index='facebook instagram tiktok'.split())

In [ ]:
s1

facebook     84
instagram    26
youtube      80
dtype: int64

In [ ]:
s2

facebook     45
instagram    67
tiktok       23
dtype: int64

In [ ]:
s1 + s2

facebook     129.0
instagram     93.0
tiktok         NaN
youtube        NaN
dtype: float64

In [ ]:
s1 - s2

facebook     39.0
instagram   -41.0
tiktok        NaN
youtube       NaN
dtype: float64

## Mascaras

In [ ]:
s

A    3
B    4
C    2
D    4
E    3
F    4
G    2
H    1
I    1
J    3
dtype: int64

### Retornando os valores maiores de 2

In [ ]:
s[s > 2]

A    3
B    4
D    4
E    3
F    4
J    3
dtype: int64

Apenas os índices dos maiore de 2:

In [ ]:
s[s > 2].index

MultiIndex([('A',),
            ('B',),
            ('D',),
            ('E',),
            ('F',),
            ('J',)],
           )

# DataFrame

DataFrame é capaz de armazenar e manipular esse tipo de dado de uma forma equivalente às planilhas de Excel.

> DataFrame é com conjunto de Series

In [ ]:
dados = np.array([[72, 180, 26], [80, 170, 19], [60, 165, 15]])

dados

array([[ 72, 180,  26],
       [ 80, 170,  19],
       [ 60, 165,  15]])

In [ ]:
df = pd.DataFrame(data=dados, columns=['Peso', 'Altura', 'Idade'])
df

   Peso  Altura  Idade
0    72     180     26
1    80     170     19
2    60     165     15

## Indexação

In [ ]:
df['Altura']

0    180
1    170
2    165
Name: Altura, dtype: int64

> DataFrame é um conjunto de Series

In [ ]:
type(df['Altura'])

pandas.core.series.Series

### Para acessar as linhas (índice)

In [ ]:
df.loc[1]

Peso       80
Altura    170
Idade      19
Name: 1, dtype: int64

### Para acessar um dado especifico

In [ ]:
df['Altura'][1]

170

In [ ]:
df.loc[1]['Altura']

170

### Acessando mais de uma coluna

In [ ]:
df[['Peso', 'Altura']]

   Peso  Altura
0    72     180
1    80     170
2    60     165

### Acessando dado com índices númericos

In [ ]:
df.iloc[2][1]

165

# Lendo e salvando Datasets (CSV, XlSX, HTML)

Obs: pode ser importante instalar os pacotes xlrd e openpyxl.

In [6]:
df = pd.read_csv('datasets/titanic_train.csv', sep=',')

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
# Visualizar as 5 primerias linhas
df.head()
# Vc pode colocar como parametro a quantidade de linhas que seja visualizar.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# visualizar os 5 últimos parametross
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [10]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Para ler arquivos Excel

In [13]:
df = pd.read_excel('datasets/peso-altura.xlsx')

Poderia usar o parametro sheet_name='' para renomear ou abrir somente as abas indicadas.

In [14]:
df.head()

   Massa corporal (kg)  Altura (cm)
0                   72          180
1                   80          170
2                   60          175
3                   90          174
4                  100          185

In [15]:
df.shape

(20, 2)

### Salvando arquivo como CSV

In [16]:
df.to_csv('datasets/peso-altura.csv')

## Lendo tabelas HTML

In [17]:
df = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: lxml not found, please install it

In [ ]:
df