In [5]:
import pandas as pd
import exercise02 as ex

In [11]:
datas = [
    [846, 'Mason', 21, 'Forward', 'RealMadrid'],
    [749, 'Riley', 30, 'Winger', 'Barcelona'],
    [155, 'Bob', 28, 'Striker', 'ManchesterUnited'],
    [583, 'Isabella', 32, 'Goalkeeper', 'Liverpool'],
    [388, 'Zachary', 24, 'Midfielder', 'BayernMunich'],
    [883, 'Ava', 23, 'Defender', 'Chelsea'],
    [355, 'Violet', 18, 'Striker', 'Juventus'],
    [247, 'Thomas', 27, 'Striker', 'ParisSaint-Germain'],
    [761, 'Jack', 33, 'Midfielder', 'ManchesterCity'],
    [642, 'Charlie', 36, 'Center-back', 'Arsenal']
]

In [12]:
players = pd.DataFrame(datas, columns=['player_id', 'name', 'age', 'position', 'teams'])

In [13]:
players

   player_id      name  age     position               teams
0        846     Mason   21      Forward          RealMadrid
1        749     Riley   30       Winger           Barcelona
2        155       Bob   28      Striker    ManchesterUnited
3        583  Isabella   32   Goalkeeper           Liverpool
4        388   Zachary   24   Midfielder        BayernMunich
5        883       Ava   23     Defender             Chelsea
6        355    Violet   18      Striker            Juventus
7        247    Thomas   27      Striker  ParisSaint-Germain
8        761      Jack   33   Midfielder      ManchesterCity
9        642   Charlie   36  Center-back             Arsenal

In [14]:
ex.getDataframeSize(players)

[10, 5]