# Criando um DataFrame a partir de uma lista

Importando funções:

In [7]:
from exercise01 import *

Criando dados:

In [5]:
data = [
    [1, 18],
    [2, 20],
    [3, 19],
    [4, 21],
    [5, 22]
]

Atribuindo o retorno da função `createDataframe(data)` a uma variável chamada `resulting_dataframe`.

In [10]:
resulting_dataframe = createDataframe(data)
resulting_dataframe

   student_id  age
0           1   18
1           2   20
2           3   19
3           4   21
4           5   22